In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
l1= pd.Series({'Gender':'m','Age':19,'Estimated_Salary':19000,'Purchased':0})
l2= pd.Series({'Gender':'m','Age':35,'Estimated_Salary':20000,'Purchased':0})
l3= pd.Series({'Gender':'f','Age':26,'Estimated_Salary':43000,'Purchased':0})
l4= pd.Series({'Gender':'f','Age':27,'Estimated_Salary':57000,'Purchased':0})
l5= pd.Series({'Gender':'m','Age':19,'Estimated_Salary':76000,'Purchased':0})
l6= pd.Series({'Gender':'m','Age':27,'Estimated_Salary':58000,'Purchased':0})
l7= pd.Series({'Gender':'f','Age':27,'Estimated_Salary':84000,'Purchased':0})
l8= pd.Series({'Gender':'f','Age':32,'Estimated_Salary':150000,'Purchased':1})
l9= pd.Series({'Gender':'m','Age':25,'Estimated_Salary':33000,'Purchased':0})
l10= pd.Series({'Gender':'f','Age':35,'Estimated_Salary':65000,'Purchased':0})
df = pd.DataFrame([l1,l2,l3,l4,l5,l6,l7,l8,l9,l10])
df

  Gender  Age  Estimated_Salary  Purchased
0      m   19             19000          0
1      m   35             20000          0
2      f   26             43000          0
3      f   27             57000          0
4      m   19             76000          0
5      m   27             58000          0
6      f   27             84000          0
7      f   32            150000          1
8      m   25             33000          0
9      f   35             65000          0

In [3]:
df.shape

(10, 4)

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df.head()

   Gender  Age  Estimated_Salary  Purchased
0       1   19             19000          0
1       1   35             20000          0
2       0   26             43000          0
3       0   27             57000          0
4       1   19             76000          0

## Standardize the variables because scale of the variables matters

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop(['Purchased','Gender'],axis = 1))

StandardScaler()

In [8]:
scaled_features = scaler.transform(df.drop(['Purchased','Gender'],axis = 1))

In [10]:
df_feat = pd.DataFrame(scaled_features,columns = df.columns[:-2])
df_feat.head()

     Gender       Age
0 -1.534386 -1.139383
1  1.459538 -1.111928
2 -0.224544 -0.480463
3 -0.037424 -0.096093
4 -1.534386  0.425553

## Train Test Split

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(scaled_features,df['Purchased'],test_size = 0.30)

## Using KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier

### For generally we take k = 5

In [26]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [27]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [28]:
y_pred = knn.predict(X_test)

## Predictions

In [29]:
from sklearn.metrics import classification_report,confusion_matrix

In [30]:
print(confusion_matrix(y_test,y_pred))

[[3]]

In [31]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3